/* Eemaldab alumise joone linkidelt */
a {
  text-decoration: none;
}

header {
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
body {
  margin:0;
  padding: 0;
  height: 100%;
}

/* Konteineri settingud */
.container1 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  border: 0;
  padding-right: 60px;
  padding-left: 60px;

}

ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  border: 0;
  padding: 0;
  
}

ul a {
  color: black;
  font-weight: 900;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.right img {
  max-width: 130px;
  max-height: 100px;
  padding-left: 20px;
}
.left, .right {
  display: flex;

}

.button {
  padding: 1.2em 2em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
 }
 
 .button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
 }
 
 .button:active {
  transform: translateY(-1px);
 }

.container2 {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 250px;
  padding-right: 250px;

}
h1, h2 {
 margin: 0;
 padding: 10px;
 
}

.pealkiri h1 {
  color: #333333;
    font-family: "Montserrat", Sans-serif;
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
}

.pealkiri h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 32px;
}

.slideshow-container {
  position: relative;
  margin: auto;
  display: flex;
  padding-top: 30px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(48, 182, 43, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slideshow-container img {
max-width: 3000px;
max-height: 1000px;
height: 300px;
width: 1400px;
object-fit: cover;

}

.container4 {
  padding-top: 30px;
  padding-right: 250px;
  padding-left: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.tutvustus h3 {
  font-family: "Montserrat", Sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;

}

.teenused {
  text-align: center;  
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px; padding-bottom: 60px;
}
.teenused h3, .tutvustus h3, .hind h3{
  padding-bottom: 20px;
  padding-top: 40px;
}
.teenused h3 {
  font-family: "Montserrat", Sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
}

.teenuselist ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.hind {
 display: flex;
 flex-direction: column;
 align-items: center;
}


/* From cssbuttons.io by @Custyyyy */
#bottone5 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 500px;
 }
 
 #bottone5:hover,
 #bottone5:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
 }
 
 #bottone5:hover {
  transform: translateY(-1px);
 }
 
 #bottone5:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
 }

.hind {
  max-width: 230px;
}


.feedback-input {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { 
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color:black;

}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  background:#ffffff;
  border-radius:5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor:pointer;
  color: black;
  font-size: 16px;
  font-weight: 600;;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
}
[type="submit"]:hover { background:#f1f1f1; }

/* IKOONID */
@import url('https://css.gg/briefcase.css');

/* KOHVER */
.gg-briefcase {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 16px;
  border: 2px solid;
  border-radius: 2px;
  margin-top: 1px
 }
 
 .gg-briefcase::after,
 .gg-briefcase::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
 }
 
 .gg-briefcase::before {
  border: 2px solid;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  left: 4px;
  width: 10px;
  height: 4px;
  border-bottom: 0;
  top: -5px
 }
 
 .gg-briefcase::after {
  width: 18px;
  height: 3px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow:
  0 2px 0,
  inset 16px 74px 0;
  top: 4px
 } 

h2 {
  font-family: "Montserrat", Sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  padding-top: 50px;
}

.container5 {

  padding-left: 250px;
  padding-right: 250px;
  display: flex;
  justify-content: center;
  gap:200px;
  padding-top: 60px;

}

.info {
  padding-top: 70px;
  text-align: center;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px ;  
  padding: 20px;
  transition: all 0.3s ease-in-out;
  
  
}
.info::after {
  content: '';
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}


/* SCALING OF THE BOX */
.info:hover {
  transform: scale(1.2, 1.2);
}

svg {
  padding-top: 20px;
  padding-bottom: 20px;
}

.tekst {
  font-family: "Montserrat", Sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center ;
  overflow-wrap: break-word;
  min-width: 200px;
  max-width: 300px;
  
  
}

.tekst2 {
  padding-top: 13px;
  text-align: start ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container6 {
 display: flex;
 justify-content: center;
 
}

.feiss {
  padding-top: 120px;
  
}

.fb-page {
  padding-top: 60px;
  
}